* {
	box-shadow: border-box;
}
div {
	position: relative;
}
body, h1, h2, input, textarea {
	font-family: "Source Serif Pro", serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.25em;
	text-decoration: none;
	text-rendering: optimizeLegibility;
}
a {
	color: blue;
	text-decoration: none;
	&:hover {
		color: red;
	}
}
h1, h2 {
	margin: 0.5em 0;
}
h2 {
	font-size: 13px;
}
p {
	margin: 0.5em 0;
	vertical-align: baseline;
	&.withIcon > * {
		vertical-align: middle;
	}
	&.legal {
		font-size: 13px;
		color: gray;
	}
}
input, textarea {
	display: block;
	background: none;
	border: none;
}
html, body, iframe {
	margin: 0;
	border: none;
	width: 100%;
	height: 100%;
}
header, hgroup {
	position: absolute;
	padding: 1em;
	background: white;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
}
header {
	bottom: 0;
	right: 0;
	width: 20em;
}
hgroup {
	top: 0;
	left: 0;
	width: 15em;
}
